<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<footer class="page-footer container-fluid py-3 fixed-bottom" th:fragment="footer">
    <div class="row">
        <div class="col-12 col-md">
            <i class="fa fa-briefcase fa-2x ml-1"></i>
            <small class="d-block mb-3 text-muted">&copy; 2021</small>
            <small>
                Developed by Aleksandr Belyaev
            </small>
        </div>
        <div class="col-6 col-md">
            <h5>Feature</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Quick assessments</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="/assessment">Assessment</a></li>
                <li><a class="text-muted" href="/profile">Profile</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">About us</a></li>
                <li><a class="text-muted" href="#">About partners</a></li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>