<html xmlns:th="https://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h3 class="my-4 text-center">New assessment</h3>

    <h3 id="question" class="my-4 text-center">How important is the ability to export-import from CSV, XLSX files?</h3>

    <form id="questionForm" accept-charset="UTF-8" >

        <div class="wrapper mb-3">
            <div id="radioWrapper">

            </div>
        </div>
    </form>
    <div class="justify-content-center d-flex">
        <div id="warningBlock" class="alert alert-danger text-center" role="alert">
            Please select answer!
        </div>
    </div>
    <div class="control-buttons text-center">
        <button type="button" id="nextBtn" class="btn btn-success form-button">Next</button>
        <button type="button" id="submitBtn" class="btn btn-success form-button">Submit</button>
        <button type="button" class="btn btn-outline-dark form-button" onclick="history.back()">Cancel</button>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<script th:inline="javascript">
    let $radioWrapper = $('#radioWrapper');

    $(document).ready(function () {
        $('#submitBtn').hide();
        $('#warningBlock').hide();

        let answersMap = new Map();
        let questions = [[${questions}]];

        let currentQ = questions.shift();
        $('#question').text(currentQ.question);
        displayAnswers(currentQ);

        $('#nextBtn').click(function () {
            let selectedValue = $("input[type='radio']:checked").val();
            if (selectedValue) {
                $('#warningBlock').hide();
                answersMap.set(currentQ.id, selectedValue); // key: idOfQuestion, answerValue

                if (questions.length !== 0) {
                    currentQ = questions.shift();
                    $('#question').text(currentQ.question);
                    $radioWrapper.empty();
                    displayAnswers(currentQ);
                } else {
                    $('#questionForm').remove();+
                    $('#question').text('Are you want to submit assessment form?');

                    $('#nextBtn').hide();
                    $('#submitBtn').show();
                }
            } else {
                $('#warningBlock').show();
            }

        })

        $('#submitBtn').click(function () {
            console.log(JSON.stringify(answersMap));

            const convertedMap = {};
            answersMap.forEach((val, key) => {
                convertedMap[key] = val;
            });

            $.ajax({
                type: 'POST',
                url: '/assessment-result',
                data: JSON.stringify(convertedMap),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            })
        })
    })

    function displayAnswers(currentQ) {
        let answers = currentQ.answers;

        answers.forEach(answer => {

            let div = $('<div>').addClass("form-check");
            div.append($('<input>').addClass("form-check-input").attr({
                type: 'radio',
                id: answer.id,
                name: 'radioAnswers',
                value: answer.value
            }));

            div.append($('<label>').addClass("form-check-label").attr('for', answer.id).text(answer.answer));
            $radioWrapper.append(div);
        });
    }

</script>

</body>
</html>