<html xmlns:th="https://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h3 class="my-4 text-center">New assessment</h3>

    <h3 id="question" class="my-4 text-center">How important is the ability to export-import from CSV, XLSX files?</h3>

    <form id="questionForm" th:action="@{/objects/create}" method="post" accept-charset="UTF-8" >

        <div class="wrapper mb-3">
            <div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">Yes, I definitely need it</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">Yes, most likely I need it</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                    <label class="form-check-label" for="exampleRadios3">I might need it</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option3">
                    <label class="form-check-label" for="exampleRadios4">I probably won't need it</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option3">
                    <label class="form-check-label" for="exampleRadios5">Most likely I won't need it</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios6" value="option3">
                    <label class="form-check-label" for="exampleRadios6">I definitely won't need it</label>
                </div>
            </div>
        </div>
    </form>
    <div class="control-buttons text-center">
        <button type="button" id="nextBtn" class="btn btn-success form-button">Next</button>
        <button type="button" class="btn btn-outline-dark form-button" onclick="history.back()">Cancel</button>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<script th:inline="javascript">
    $(document).ready(function () {

        let answersMap = new Map();
        let questions = [[${questions}]];
        let currentQ = questions.shift();

        $('#question').text(currentQ.question);

        $('#nextBtn').click(function () {

            if ($('#nextBtn').text() === 'Submit') {
                console.log(JSON.stringify(answersMap));

                const convMap = {};
                answersMap.forEach((val, key) => {
                    convMap[key] = val;
                });

                $.ajax({
                    type: 'POST',
                    url: '/assessment-result',
                    data: JSON.stringify(convMap),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                })
            } else {
                let selectedValue = $("input[type='radio']:checked").val();
                answersMap.set(currentQ.id, selectedValue); // key: idOfAnswer, idOfQuestion

                if (questions.length !== 0) {
                    currentQ = questions.shift();
                    $('#question').text(currentQ.question);
                } else {
                    $('#questionForm').remove();
                    $('#question').text('Are you want to submit assessment form?');
                    $('#nextBtn').text('Submit');
                }
            }
        })
    })

</script>

</body>
</html>